<div class="s-layout">
    <app-sidebar></app-sidebar>
<div class="container">
	<div class="row">
		<div class="col-xs-12">

            <div class="card text-center">
                <div class="cardheader">

                </div>
                <i class="fa fa-user text-danger" aria-hidden="true"></i>
                <div class="info">
                    <div class="title">
                        <h2 class="mt-1 text-white">{{user.firstname }} {{user.lastname}} </h2>
                    </div>
                    <div class="desc"><span class="me-2">Phone Number:</span>{{user.phoneNo}}</div>
                    <div class="desc"><span class="me-2">Email:</span>{{user.email}}</div>
                    <div class="desc"><span class="me-2">Role:</span>{{user.role}}</div>
                   
                  
                </div>
             
            </div>

        </div>

	</div>
</div>
</div>
