<div class="s-layout">
    <app-sidebar></app-sidebar>
<div class="container" >
    <div class="row page-header">
        <div class="col-md-7 d-flex page-head-detail">
            <i class="fa fa-users"> </i>
            <h3 class="list-head">Students List <small>Welcome To Astra Dashboard</small> </h3> 
        </div>
        <button class="btn btn-primary add-btn"   routerLink="/admin/add-student"><i class="fa fa-plus"></i> Add New Student</button>
        <button class="btn btn-primary add-btn"   routerLink="/admin/students"><i class="fa fa-search"></i> View All Student</button>
        <button class="btn btn-primary add-btn"   routerLink="/admin/teachers"><i class="fa fa-search"></i> View All Teachers</button>
        <button class="btn btn-primary add-btn"   routerLink="/admin/add-teacher"><i class="fa fa-plus"></i> Add New Teacher</button>
  </div>
</div>
</div>