<div class="s-layout">
  <app-sidebar></app-sidebar>
<div class="container" *ngIf="!isShown">
  <div class="row page-header">
    <div class="col-md-7 d-flex page-head-detail">
      <i class="fa fa-users"> </i>
<h3 class="list-head">Teachers List <small>Welcome To Astra Dashboard</small> </h3> 
</div>
<div class="col-md-5">
  <button class="btn btn-primary add-btn"   routerLink="/admin/add-teacher"><i class="fa fa-plus"></i> Add New Teacher</button>
</div>
</div>
  
<div class="row table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Designation</th>
      <th scope="col">Department</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let teacher of teacherListArray |paginate: { itemsPerPage: 10, currentPage: p }; let i=index;">
      <th scope="row"> {{getAbsoluteIndex(p,i+1)}}</th> 
      <td>{{teacher.firstname}}</td> 
      <td>{{teacher.lastname}}</td>
      <td>{{teacher.email}}</td>
      <td>{{teacher.designation}}</td>
      <td>{{teacher.department}}</td> 
      <td class="text-center">
        <a class="btn btn-primary" (click)="routeToUpdate(teacher.teacher_id)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <!-- <button type="button" class="btn btn-primary ms-1" (click)="displaydetails(teacher)"><i class="fa fa-info" aria-hidden="true"></i></button> -->
      </td>
    </tr>
  </tbody>
</table>
</div>
<pagination-controls (pageChange)="ChangePage($event)"></pagination-controls>
</div>



<app-detail-teacher *ngIf="isShown"  (isShown)="doSomething($event)" [detailInfo]="data" ></app-detail-teacher>

  
  </div>